
.reset-p-margins {
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

.unclaimedButtonStyle {
  position: relative;
  background-color: #90d446;
  color: white;
  border-radius: 27px;
  width: 100%;
  height: 54px;
  font-weight: bold;
  font-size: 18px;
  padding: 0 2rem;
  z-index: 2;
  outline: none;
  cursor: pointer;
}

.unclaimedbuttonBorderstyle {
  position: relative;
  margin-top: 24px;
  width: 100%;
  border-radius: 29px;
  padding: 2px;
  background: linear-gradient(90deg, #8E38FF, #8E38FF 25%, #fff 50%, #8E38FF 75%, #8E38FF 100%);
  background-size: 200% 100%;
  animation: neonFlow 2s linear infinite reverse;
}

@keyframes neonFlow {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.glowingGradient {
  position: relative;
  width: 100%;
  height: 54px;
  font-weight: bold;
  font-size: 18px;
  padding: 0 2rem;
  color: #fff;
  background: linear-gradient(45deg, #ff0000, #ff9900, #ffff00, #33cc33, #00ccff, #9933ff, #ff33cc);
  background-size: 400% 400%;
  border-radius: 27px;
  border: none;
  outline: none;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  animation: gradientAnimation 5s ease infinite;
 }

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
 }